
<div class="partents-text-info">
    <h3 class="inter-bold">Trusted by</h3>
    <h6 class="inter-semi-bold">These and many other platforms can be integrated using our product</h6>
</div>

<div class="partners-outer logos">
    <div class="logo_items">
        <img src="/assets/partners/0x0.png" height= 80px width="160px" alt="">
        <img src="/assets/partners/shopify.webp" height= 100px width="180px"  alt="">
        <img src="/assets/partners/Etsy_logo.svg.png"  height= 90px width="180px" alt="">
        <img src="/assets/partners/Wix.com_website_logo.svg.png" height= 50px width="150px" alt="">
        <img src="/assets/partners/salehoo.webp" alt="" height= 90px width="180px">
        <img src="/assets/partners/Tilda_Logo.png" height= 70px width="70px" alt="">
    </div>
    <div class="logo_items">

        <img src="/assets/partners/0x0.png" height= 80px width="160px" alt="">
        <img src="/assets/partners/shopify.webp" height= 100px width="180px"  alt="">
        <img src="/assets/partners/Etsy_logo.svg.png"  height= 90px width="180px" alt="">
        <img src="/assets/partners/Wix.com_website_logo.svg.png" height= 50px width="150px" alt="">
        <img src="/assets/partners/salehoo.webp" alt="" height= 90px width="180px">
        <img src="/assets/partners/Tilda_Logo.png" height= 70px width="70px" alt="">
    </div>
</div>
