<div class="faq-outer">
    <p class = "inter-bold" id = "faq-outer-title-bold">FAQ</p>
    <div class="faq-dropdown inter-semi-bold">
        <div class="faq-dropdown-tab closed-faq-tab" (click)="openFaqTab($event)">
            <div class="faq-question">
                <img src="/assets/icons/plus.png" alt="">
                What should I do if I haven't received my parcel?
            </div>
            <div class="faq-answer">If you haven't received your parcel within the expected timeframe, please reach out to us via the <span class = "accentuated">Contact Us</span>  tab on our website. Our customer support team will promptly investigate the issue and provide you with assistance.</div>
        </div>
        <div class="faq-dropdown-tab closed-faq-tab" (click)="openFaqTab($event)">
            <div class="faq-question">
                <img src="/assets/icons/plus.png" alt="">
                How can I inquire about the status of my delivery?
            </div>
            <div class="faq-answer">
                To inquire about the status of your delivery, 
                please use the tracking information provided to you at the time of shipment.
                Check the tab <span class = "accentuated">Track Your Package</span> at the top of the website </div>
        </div>
        <div class="faq-dropdown-tab closed-faq-tab" (click)="openFaqTab($event)">
            <div class="faq-question">
                <img src="/assets/icons/plus.png" alt="">
                What if there's an issue with my order or delivery?
            </div>
            <div class="faq-answer">In the event of any issues with your order or delivery, we encourage you to reach out to us immediately using the <span class = "accentuated">Contact Us</span>  tab on our website. Our dedicated customer support team is available to address your concerns and resolve any issues promptly and efficiently.</div>
        </div>
    </div>    
</div>
