<div class="contacts-info-outer">
    <span class = "text-common-contact-methods inter-bold"> Contacts </span>
    <img id = "shine" src="assets/img/home/shine" alt="">
    <div class="contacts-grid">
        <div class="contact-panel">
            <div class="upper-icon-name">
                <img src="assets/icons/mail.png" alt="">
                <h3 class = "inter-bold"> Main Office </h3>
            </div>
            <p class = "general-explanation inter-medium"> This email address is dedicated for exceptional situation or business affairs </p>
            <span class = "accentuated inter-semi-bold">office&#64;sparrow.logistics</span>
        </div>
        <div class="contact-panel">
            <div class="upper-icon-name">
                <img src="assets/icons/mail.png" alt="">
                <h3 class = "inter-bold"> Main Office </h3>
            </div>
            <p class = "general-explanation inter-medium"> This email address is dedicated for exceptional situation or business affairs </p>
            <span class = "accentuated inter-semi-bold">office&#64;sparrow.logistics</span>
        </div>
        <div class="contact-panel">
            <div class="upper-icon-name">
                <img src="assets/icons/mail.png" alt="">
                <h3 class = "inter-bold"> Main Office </h3>
            </div>
            <p class = "general-explanation inter-medium"> This email address is dedicated for exceptional situation or business affairs </p>
            <span class = "accentuated inter-semi-bold">office&#64;sparrow.logistics</span>
        </div>
    </div>
</div>