
<div class="main-body-contact-page ">

    <h3 class ="inter-bold header-title"> Contact Page.</h3>

    <img class = "contact-image" src="assets/img/home/call-center-lady-worker-on-phone.jpeg" alt="">


    <div class="warning-block">
        <img src="/assets/icons/warning.png" alt="">

        <div class="warning-text inter-regular">
            Our Support Team is overflooded with messages, the response might take <span class="accentuated"> 1-3 Business Days </span>
        </div>
    </div>

    <form action="#" class ="inter-regular">
        <p style = "font-size: 10px;" class="inter-light">Fill out your message in the field below*</p>

        <div class="two-half-input inter-regular">
            <input type="text" placeholder="Name" required name="name" id="">
            <input type="text" placeholder="Email" required ="email" id="">
        </div>
        <textarea class="inter-regular "  required placeholder="Message" name="text" rows="4" cols="50"></textarea>
        <br>

        <button class = "inter-medium" type="submit">Send Message</button>
    </form>
</div>