<main>
    <div class="upper-block">
        <h3 class = "upper-text-introduction inter-bold">About Our Company</h3>
        <div class="container-img">
            <img src="/assets/img/about-us/container.jpg" alt="">
        </div>
        <img src="/assets/img/home/shine" id = "shine1" alt="">
        <img src="/assets/img/home/shine" id = "shine2" alt="">
        <span class = "inter-semi-bold">Sparrow Logistics LTD.
        </span>
    </div>
    <app-partners-logo></app-partners-logo>

    <div class="left-right-side-image-text">
        <img src="../assets/img/home/warehouse-lady-man-pointing.jpg" alt="">
        <div class="right-block-text">
            <h2 class="inter-bold">Briefly</h2>
            <p class="inter-regular">
                Welcome to <span class = "accentuated">Sparrow Logistics</span> ,
                 your premier partner in the realm of shipping and logistics. 
                 Nestled in the vibrant city of <span class = "accentuated">Vienna, Austria,</span>
                  our headquarters serve as the hub of our operations, 
                  strategically located to cater to a diverse array of clients 
                  both locally and internationally. Since<span class = "accentuated"> our inception in 2016</span>, 
                  Sparrow Logistics has remained steadfast in our commitment 
                  to excellence, a dedication that has propelled us to serve over
                  <span class = "accentuated"> +200 businesses</span> and successfully
                   deliver more than <span class = "accentuated"> +15,000 orders</span>.

            </p>
        </div>
    </div>

    
    <div class="right-left-side-image-text">
        <div class="right-block-text">
            <h2 class="inter-bold">Our Capacities</h2>
            <p class="inter-regular">
                We employ over <span class = "accentuated"> 2000 specialists </span> in our branch offices <span class = "accentuated"> United States, France, Spain, United Kingdom, Italy, Canada </span> and many other countries. We provide our customers with a wide range of services including Air Freight, Import/Export Transportation, Overnight Delivery, Customs Clearance Services. Our truck park consists of more than 100 items ranging from 8 to 120 tons. 
            </p>
            <button class="black-button  inter-bold">Become a Partner</button>

        </div>
        <img src="../assets/img/home/people-shaking-hand.jpg" alt="">

    </div>

    <div id="faq-block">
            <app-faq > </app-faq>

    </div>
    <div class="img-block">
        <img src="../assets/icons/Stack.png" alt="">

    </div>

    <app-contacts-information></app-contacts-information>

    <div class="more-about-us-block">
        <div class="more-about-us-heading inter-bold">
            More About US
        </div>
        <p class = "inter-medium">
            &nbsp;&nbsp;&nbsp;&nbsp;At <span class="accentuated"> Sparrow Logistics</span>, we understand that the key to success lies in the seamless integration of <span class="accentuated"> efficiency, reliability, and customer satisfaction</span>. Therefore, our guiding principles revolve around four core pillars: fast delivery, exceptional customer support, competitive pricing, and business optimization. These principles form the cornerstone of our operations, shaping every decision we make and every service we provide.
                <br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;Our commitment to fast delivery ensures that your goods reach their destination swiftly and securely, minimizing delays and maximizing efficiency. Whether it's across town or across borders, you can trust Sparrow Logistics to deliver with speed and precision. Moreover, our dedicated team of customer support professionals is available around the clock to address any queries or concerns, providing personalized assistance and ensuring a smooth shipping experience from start to finish.
                <br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;In addition to our focus on speed and customer service, Sparrow Logistics is also dedicated to offering competitive pricing that aligns with the budgetary constraints of our clients. We understand the importance of cost-effectiveness in today's competitive marketplace, and our transparent pricing model reflects our commitment to providing value without compromising on quality.
        </p>
    </div>
</main>