<main class = "inter-medium">
    <div class="top-landing-image-display">
        <div class="top-landing-common-block">
            <h3 class="inter-bold top-text">Your solution in shipping</h3>
            <p class = "middle-text-p"> Best outsource solution for businesses that takes care of delivery and customers</p>
            <div class="two-button-block">
                <button class="white-button inter-bold"><a href="">Become a Partner</a></button>
                <button class="transparent-button inter-bold" ><a href="">Track Your Package</a></button>
            </div>
        </div>
    </div>
    <app-partners-logo></app-partners-logo>

    <div class="two-sided-info-box left-right">
        <img src="../assets/img/home/warehouse-2-member.jpg" alt="">
        <div class="text-block">
            <h4 class="inter-bold">Tested in the field</h4>
            <p class="inter-medium">
                We are trusted by more than 
                <span class="accentuated">200+ Business </span> 
                that manage their deliveries with our help
            </p>
            <button class="black-button inter-bold">
                <a href="">Become a Partner</a></button>

        </div>
    </div>
    
    <div class="two-sided-info-box left-right">
        <div class="text-block">
            <h4 class="inter-bold">Best Tracking System</h4>
            <p class="inter-medium">
                Because we
                <span class="accentuated">love</span>          
                that manage their deliveries with our help
            </p>
            <button class="black-button  inter-bold"> 
                <a href="">Become a Partner</a>
            </button>

        </div>
        <img src="../assets/img/home/call-center-lady-worker-on-phone.jpeg" alt="">
    </div>

    <div class="testimonials-tab">
        <div class="testimonial-tab-text inter-bold">
            Clients Testimonial
        </div>

        <div class="testimonial-block-with-arrows">
            <div class="testimonial-client">
                <img id =  "shine" src="../assets/img/home/shine" alt="">
                <p>“Thank you for helping me in managing my online shop. You are the savers!”</p>
                <div class="person-testimonial-tab">
                    <img src="../assets/img/home/memoji" alt="">
                    <div class="person-testimonial-name-position">
                        <span class = "inter-semi-bold">Kayla Ray</span>
                        <p class = "inter-medium">Etsy Seller</p>
                    </div>
                </div>
            </div>

        </div>
        <img id = "noise_decoration" src="../assets/img/home/noise" alt="">
    </div>

    <div class="left-right-side-image-text">
        <img src="../assets/img/home/warehouse-lady-man-pointing.jpg" alt="">
        <div class="right-block-text">
            <h2 class="inter-bold">About Us</h2>
            <p class="inter-regular">
                Based in the vibrant city of Vienna, Austria, <span class="accentuated">Sparrow Logistics</span>  has
                been a trusted name in the shipping and logistics industry since 2016.
                With a track record of serving over <span class="accentuated">200 businesses</span> and successfully 
                delivering more than <span class="accentuated">15,000 orders</span>, we pride ourselves on our 
                commitment to fast delivery, exceptional customer support, 
                competitive pricing, and business optimization. At Sparrow Logistics,
                every partner and their clients are invaluable to us, and we strive to 
                exceed their expectations at every turn.
            </p>
            <button class="black-button  inter-bold">Become a Partner</button>

        </div>
    </div>

    <h3 class="inter-bold" id ="solutions-introduction">Solutions</h3>

    <div class="solutions-grid-panel">
        <div class="panel" id = "grid-1-3">
            <img src="../assets/img/home/stock-warehouse.jpg" alt="">
            <h3 class = "inter-semi-bold">Outsource logistics</h3>
            <span class = "inter-medium" >No need to worry about shipping the parcel yourself</span>
        </div>
        <div class="panel" id = "grid-3-5">
            <img src="../assets/img/home/types-of-warehouses.jpg" alt="">
            <h3 class = "inter-semi-bold" >Tracking</h3>
            <span>We make the tracking of customer's parcel easier than ever</span>
        </div>
        <div class="panel" id = "grid-1-2">
            <img src="../assets/img/home/people-shaking-hand.jpg" alt="">
            <h3 class = "inter-semi-bold" >E-Commerce</h3>
            <span>Connect your shops via our instruments</span>
        </div>
        <div class="panel" id = "grid-2-5">
            <img src="../assets/img/home/receive-parcel.jpg" alt="">
            <h3 class = "inter-semi-bold"  >Shipping</h3>
            <span>Services and technology for managing your shipping process—from individuals to enterprises, local to global.</span>
        </div>
    </div>

    <div class="box-circle">
    <svg viewBox="0 0 350 50">
        <path id="curve" fill="transparent" 
        d="
        M 175, 50
        m 5, 0
        a 20,20 0 1,0 -10,0
        a 20,20 0 1,0 10,0
        "
  />        <text id = "curve-text" width="100">
          <textPath xlink:href="#curve">
            SPARROW LOGISTICS SPARROW LOGISTICS    

                  </textPath>
        </text>
      </svg>
    </div>
</main>